<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>UdupppuKadai</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="main.js"></script>
</head>
<style>

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea      {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #093a59;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.imgf {
  height:480px;
  width:1280px;
}
.box {
  background-color: whitesmoke;
  width: 500px;
  height: auto;
  padding: 5px;
  margin: 2px;
}
img {
  height: 400px;
  width: 390px;
  border-radius: 6px;
}

* {
  box-sizing: border-box;
}


.row-3 {
    display: flex;
    width: 100%;
    margin: 10px auto;
    flex-wrap: wrap;
}

.wrap-column img {

    position: relative;
}

.wrap-column .back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.wrap-column:hover .back {
    display: inline;
}

.wrap-column span {
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.wrap-column span:hover {
    cursor: pointer;
    color: rgb(4, 42, 85);
    font-size: 16px;
}

.row-3 .h1 {
    display: block;
    width: 100%;
    color: black;
    font-size: 30px;
    font-weight: 500;
    box-sizing: border-box;
    border-bottom: #000000 2px solid;
    padding-left: 20px;
}

.wrap-column {
    width: 30%;
    height: max-content;
    box-sizing: border-box;
    position: relative;
    margin: 5px;
    border-bottom: solid rgba(0, 0, 0, 0.493) 1px;
}


    /* Small Scren */

@media(min-width: 992px) {
    /*================================================================
========================= image show in shopnow page ============================
=================================================================*/
    .wrap-column {
        width: 33%;
        height: max-content;
        box-sizing: border-box;
        position: relative;
        margin: 0px;
        border-bottom: solid rgba(0, 0, 0, 0.493) 1px;
    }
    /*================================================================
========================= slider ============================
=================================================================*/
    #slider figure img {
        width: 20%;
        float: left;
        height: 325px;
        border-radius: 10px;
    }
}
</style>

<body>
    <div class="wrapper">

        <header class="page-header">

            <div class="header">

                <div class="logo">
                    <img src="logo.png" alt="">
                </div>
                <div class="center">
                    <div class="search">
                        <div class="search__container">
                            <input class="search__input" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>

            </div>

            <nav class="nav_bar">
                <ul>
                    <li><button class="navfont"><i class="fa fa-home"></i><a href="/">Home</button></li>
                      <li>
                        <button class="navfont"> <a href="/#showrooms">Show Rooms</a> </button>
                      </li>

                    <li><button class="navfont"><a href="/#about">About us</a></button></li>
                    <li><button class="navfont"><a href="/#contact">Contact us</a></button></li>
                    <li><button class="navfont"><a href="/shopnow">Shop Now</button></li>
                </ul>
                <ul>

                        <li><button class="navfont"><a href="users/login">Login</button> </a></li>
                            <li><button class="navfont"><a href="users/register">Signup</button> </a></li>


                </ul>
            </nav>
<img class="imgf" src="<%= shop.link %>" alt="">
<br> <br> <br>
<div class="row-2">
<h1 style="float: left; font-size: 111px; font-family:Serif;   padding-left:20%; color:#153c61;"><%= shop.shopname%> </h1>
<br> <br>
<div style="float:right; padding-right:10%; color:#153c61;">
<p class="fa fa-home">      </p><%= shop.address%> <br> <br>
<hr> <br>
<p class="fa fa-phone">      </p> <%= shop.number%> <br> <br>
<hr> <br>
<p class="fa fa-heart">      Shop open time :</p> <%= shop.opentime%> <br> <br>
<hr> <br>
<p class="fa fa-bars">      Shop close time :</p> <%= shop.closetime%> <br> <br>
<hr>
</div>
</div>
</div>
</center>
</header> <br> <br>

<div class="row-3 box">
    <% dress.forEach(function (dress){%>
      <div class="wrap-column">
        <p class="boxi">
          <img src = "<%= dress.link %>"></p>
          <span> Dress type:    <%= dress.dressname%> </span>
          <span>  Size:  <%= dress.size%></span>
        </div>
    <%}) %>
</div>

      </main>
        <footer class="page-footer">

        </footer>


</body>

</html>
