<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style media="screen">

.imgc {
  height: 100px;
  width: 100px;
  border-radius: 6px;
}

.box {
  background-color: whitesmoke;
  width: 500px;
  height: auto;
  padding: 50px;
  margin: 20px;
}
img {
  height: 400px;
  width: 300px;
  border-radius: 6px;
}

* {
  box-sizing: border-box;
}


.row-3 {
    display: flex;
    width: 100%;
    margin: 0px auto;
    flex-wrap: wrap;
}


.wrap-column .back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.wrap-column:hover .back {
    display: inline;
}

.wrap-column span {
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.wrap-column span:hover {
    cursor: pointer;
    color: rgb(4, 42, 85);
    font-size: 16px;
}

.row-3 .h1 {
    display: block;
    width: 100%;
    color: black;
    font-size: 30px;
    font-weight: 500;
    box-sizing: border-box;
    border-bottom: #000000 2px solid;
    padding-left: 20px;
}

.wrap-column {
    width: 30%;
    height: max-content;
    box-sizing: border-box;
    position: relative;
    margin: 5px;
    border-bottom: solid rgba(0, 0, 0, 0.493) 1px;
}


    /* Small Scren */

@media(min-width: 992px) {
    /*================================================================
========================= image show in shopnow page ============================
=================================================================*/
    .wrap-column {
        width: 33%;
        height: max-content;
        box-sizing: border-box;
        position: relative;
        margin: 0px;
        border-bottom: solid rgba(0, 0, 0, 0.493) 1px;
    }
    /*================================================================
========================= slider ============================
=================================================================*/
    #slider figure img {
        width: 20%;
        float: left;
        height: 325px;
        border-radius: 10px;
    }
}
</style>

<body>
    <div class="wrapper">

        <header class="page-header">

            <div class="header">

                <div class="logo">
                    <img src="logo.png" alt="">
                </div>
                <div class="center">
                    <div class="search">
                        <div class="search__container">
                            <input class="search__input" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">
    <div class="inner-header">

            <nav class="nav_bar">
                <ul>
                    <li><button class="navfont"><i class="fa fa-home"></i><a href="/">Home</a></button></li>
                    <li>
                      <button class="navfont"> <a href="#showrooms">Show Rooms</a> </button>
                    </li>

                    <li><button class="navfont"><a href="#about">About us</a></button></li>
                    <li><button class="navfont"><a href="#contact">Contact us</a></button></li>
                    <li class="active"><button class="navfont"><a href="/shopnow">Shop Now</button></li>
                </ul>
                <ul>
                    <% if (user) { %>


                    <ul class="nav-right">

                        <li class="cart-icon">
                            <a style="color:white;" href="#">
                                <i class="fa fa-shopping-bag"></i>
                                <span style="background-color:#97adb8;">

                                    <%= user.mycart.length %>

                                </span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                          <% if (user.mycart){%>
                                            <% user.mycart.forEach((cart)=>{%>
                                            <tr>
                                                <td class="si-pic"><img class="imgc"src = "<%= cart.link %>"></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p style="color:#0c4d7a;"><%= cart.price %></p>
                                                        <h6> <%= cart.dressname %> </h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                            <%})%>
                                            <div  class="select-total">
                                        <span style="color:#0c4d7a;">total:</span>
                                        <%  var totel = 0; %>
      <% user.mycart.forEach((dress)=>{ %>
        <% totel += Number(dress.price); %>
        <%})%>

                                        <h5 style="color:#0c4d7a;">  <%=totel %></h5>

                                        </div>
                                          <%}else{%>
                                            <p>Done</p>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="select-button">

                                    <a href="/checkout" class="primary-btn checkout-btn" style="background-color:#0c4d7a;">CHECK OUT</a>
                                </div>
                            </div>
                        </li>

                    </ul>
<ul>

                        <li style="color:white;"> <a href="userprofile"> <%=user.name%> </a></li>

                <%    }  else { %>
                        <li><button class="navfont"><a href="users/login">Login</button> </a></li>
                            <li><button class="navfont"><a href="users/register">Signup</button> </a></li>
                    <%      }%>


                </ul>
            </nav>
          </div>

    </div>

        </header>

            <div class="row-3 box">
                <% dress.forEach(function (dress){%>
                  <div class="wrap-column">
                    <div class="product-item">
                    <div class="pi-pic">
                    <p>
                      <img style="height:480px; width:55px;   padding: 11px; border-radius:5px;" src = "<%= dress.link %>"></p>
                      <ul>

                                      <li class="quick-view">
                                                            <% if (user) { %>
                                                           <button class="primary-btn checkout-btn" type="button" name="button" onclick="addcart('<%=dress._id%>')"
                                                               style="color: black; background-color:white; border-radius: 4px;   margin: 4px 2px;  font-size: 16px; border: none; padding: 10px;">
                                                                    Add to cart</button>

                                                                <%    }  else { %>
                                                                      <a href="/user/login" style="color:black;">Login to add this in your cart</a>
                                                                    <%      }%>
</li>
                                      <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                  </ul>
                                </div>


                      <div class="pi-text">
                                  <div class="catagory-name"><%= dress.dressname%> <%= dress.size%></div>

                                  <div style="color:#064463;" class="product-price">
                                  Rs  <%= dress.price%>

                                  </div>
                              </div>
                            </div>



                          </div>
                      <%}) %>
            </div>


        <footer class="page-footer">

        </footer>
    </div>
    <script>
      function addcart(id) {
        $.ajax({
          url:"/add_to_cart",
          method: "POST",
          data: {c_id: id},
          success: function () {
            alert('Added to cart');
        }
        })
        console.log(id);
      }
    </script>
</body>

</html>
