<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
</head>
<style media="screen">

.box {
  background-color: whitesmoke;
  width: 500px;
  height: auto;
  padding: 50px;
  margin: 20px;
}
img {
  height: 400px;
  width: 390px;
  border-radius: 6px;
}

* {
  box-sizing: border-box;
}


.row-3 {
    display: flex;
    width: 100%;
    margin: 10px auto;
    flex-wrap: wrap;
}

.wrap-column img {

    position: relative;
}

.wrap-column .back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.wrap-column:hover .back {
    display: inline;
}

.wrap-column span {
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.wrap-column span:hover {
    cursor: pointer;
    color: rgb(4, 42, 85);
    font-size: 16px;
}

.row-3 .h1 {
    display: block;
    width: 100%;
    color: black;
    font-size: 30px;
    font-weight: 500;
    box-sizing: border-box;
    border-bottom: #000000 2px solid;
    padding-left: 20px;
}

.wrap-column {
    width: 30%;
    height: max-content;
    box-sizing: border-box;
    position: relative;
    margin: 5px;
    border-bottom: solid rgba(0, 0, 0, 0.493) 1px;
}


    /* Small Scren */

@media(min-width: 992px) {
    /*================================================================
========================= image show in shopnow page ============================
=================================================================*/
    .wrap-column {
        width: 33%;
        height: max-content;
        box-sizing: border-box;
        position: relative;
        margin: 0px;
        border-bottom: solid rgba(0, 0, 0, 0.493) 1px;
    }
    /*================================================================
========================= slider ============================
=================================================================*/
    #slider figure img {
        width: 20%;
        float: left;
        height: 325px;
        border-radius: 10px;
    }
}
</style>

<body>
    <div class="wrapper">

        <header class="page-header">

            <div class="header">

                <div class="logo">
                    <img src="logo.png" alt="">
                </div>
                <div class="center">
                    <div class="search">
                        <div class="search__container">
                            <input class="search__input" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>

            </div>

            <nav class="nav_bar">
                <ul>
                    <li><button class="navfont"><i class="fa fa-home"></i><a href="/">Home</a></button></li>
                    <li>
                      <button class="navfont">Show Rooms</button>
                        <div class="submenu-1">
                          <ul>
                            <li><button><a href="/Limmys">Limmys</a></button></li>
                            <li><button><a href="/megamart">Mega Mart</a></button></li>
                            <li><button><a href="/Shifra">Shifra</a></button></li>
                            <li><button><a href="/Sivakaneshan">Sivakaneshan</a></button></li>
                            <li><button><a href="/boys">boys</a></button></li>
                        </ul>
                        </div>
                    </li>

                    <li><button class="navfont"><a href="/#about">About us</a></button></li>
                    <li><button class="navfont"><a href="/#contact">Contact us</a></button></li>
                    <li class="active"><button class="navfont"><a href="/shopnow">Shop Now</button></li>
                </ul>
                <ul>
                  <% if (user) { %>
                      <li> <%=user.name%> </li>
                      <li><button class="navfont"><a href="/users/logout">Logout</button> </a></li>
                <%    }  else { %>
                        <li><button class="navfont"><a href="users/login">Login</button> </a></li>
                            <li><button class="navfont"><a href="users/register">Signup</button> </a></li>
                    <%      }%>


                </ul>
            </nav>

        </header>

            <div class="row-3 box">
                <% dress.forEach(function (dress){%>
                  <div class="wrap-column">
                    <p class="boxi">
                      <img src = "<%= dress.link %>"></p>
                      <span> Dress type:    <%= dress.dressname%> </span>
                      <span> <b>RS     <%= dress.price%> </b> </span>
                      <span>  Size:  <%= dress.size%></span>
                      <span> <button type="button" name="button"
                         style="background-color:#064463; border-radius: 4px;   margin: 4px 2px;  font-size: 16px; border: none; padding: 10px;">
                         <a href="/order/<%=dress._id%>">Order now</a></button> <button type="button" name="button"
                            style="background-color:#064463; border-radius: 4px;   margin: 4px 2px;  font-size: 16px; border: none; padding: 10px;">
                            <a href="/card/<%=dress._id%>">Add card</a></button> </span>
                    </div>
                <%}) %>
            </div>


        <footer class="page-footer">

        </footer>
    </div>
</body>

</html>
