<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
</head>
<style media="screen">
  img {
    height: 300px;
    width: 300px;
    border-radius: 6px;
  }
  .imgc {
    height: 100px;
    width: 100px;
    border-radius: 6px;
  }
</style>
<body>
    <div class="wrapper">

        <header class="page-header">

            <div class="header">

                <div class="logo">
                    <img src="logo.png" alt="">
                </div>
                <div class="center">
                    <div class="search">
                        <div class="search__container">
                            <input class="search__input" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
  <div class="inner-header">

            <nav class="nav_bar">
                <ul>
                    <li class="active"><button class="navfont"><i class="fa fa-home"></i><a href="/">Home</a></button></li>
                    <li>
                      <button class="navfont"> <a href="#showrooms">Show Rooms</a> </button>
                    </li>

                    <li><button class="navfont"><a href="#about">About us</a></button></li>
                    <li><button class="navfont"><a href="#contact">Contact us</a></button></li>
                    <li><button class="navfont"><a href="/shopnow">Shop Now</button></li>
                </ul>
                <ul>
                    <% if (user) { %>


                    <ul class="nav-right">

                        <li class="cart-icon">
                            <a style="color:white;" href="#">
                                <i class="fa fa-shopping-bag"></i>
                                <span style="background-color:#97adb8;">

                                    <%= user.mycart.length %>

                                </span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                          <% if (user.mycart){%>
                                            <% user.mycart.forEach((cart)=>{%>
                                            <tr>
                                                <td class="si-pic"><img class="imgc"src = "<%= cart.link %>"></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p style="color:#0c4d7a;"><%= cart.price %></p>
                                                        <h6> <%= cart.dressname %> </h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>

                                            <%})%>

                                            <div  class="select-total">
                                        <span style="color:#0c4d7a;">total:</span>
                                        <%  var totel = 0; %>
      <% user.mycart.forEach((dress)=>{ %>
        <% totel += Number(dress.price); %>
        <%})%>

                                        <h5 style="color:#0c4d7a;">  <%=totel %></h5>

                                        </div>
                                          <%}else{%>
                                            <p>Done</p>
                                            <%}%>



                          </tbody>
                      </table>
                  </div>

                                <div class="select-button">

                                    <a href="/checkout" class="primary-btn checkout-btn" style="background-color:#0c4d7a;">CHECK OUT</a>
                                </div>
                            </div>
                        </li>

                    </ul>

<ul>
                      <li style="color:white;"> <a href="userprofile"> <%=user.name%> </li>

                <%    }  else { %>
                        <li><button class="navfont"><a href="users/login">Login</button> </a></li>
                            <li><button class="navfont"><a href="users/register">Signup</button> </a></li>
                    <%      }%>


                </ul>
            </nav>
          </div>

</div>


            <div id="slider">
                <figure>
                    <img src="img.jpg"></img>
                    <img src="img1.jpg"></img>
                    <img src="img2.jpg"></img>
                    <img src="img.jpg"></img>
                    <img src="img1.jpg"></img>
                    <img src="img2.jpg"></img>
                </figure>
            </div>

        </header> </div> <br>


        <!-- Deal Of The Week Section Begin-->
        <center>
        <div class="boxd">
          <img class="imgf" src="https://d1x6pu61dawus4.cloudfront.net/eyJidWNrZXQiOiJidXlqYW1hIiwia2V5IjoibWVkaWEvcHJvZHVjdC8yMDE5LzA1LzE1L0RTUzkyNTFBXzMuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo5ODAsImhlaWdodCI6MTMwNywiZml0IjoiY29udGFpbiJ9fX0=" alt="">
      <div class="container">
          <div class="col-lg-6 text-center">
              <div class="section-title">
                  <h2>Deal Of The Week</h2> <br>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                      consectetur adipisicing elit </p> <br>
                  <div style="color:#094269;" class="product-price">
                       Rs 3500
                      <span>/Salwar</span>
                  </div>
              </div> <br>
              <div class="countdown-timer" id="countdown">
              <div class="cd-item">
                  <p id="day"></p>
                  <p>Days</p>
              </div>
              <div class="cd-item">
                  <p id="hour"></p>
                  <p>Hrs</p>
              </div>
              <div class="cd-item">
                  <p id="minute"></p>
                  <p>Mins</p>
              </div>
              <div class="cd-item">
                  <p id="second"></p>
                  <p>Secs</p>
              </div>
          </div>
            <button style="background-color:#064463; border-radius: 4px;   margin: 4px 2px;  font-size: 16px; border: none; padding: 20px;" class="navfont"><a href="/order">Shop now</a></button>
          </div>
      </div>

</div>
</center> <br> <br>
<div id="showrooms">
 <h2>Show rooms</h2>
 <hr>  <br>
<table style="width:100%">
  <tr>
    <% shop.forEach(function (shop){%>
    <th>
<p> <%= shop.shopname%> <p>
<p>   <img src = "<%= shop.link %>"> </p>
<button type="button" name="button"
style="background-color:#064463; border-radius: 4px;   margin: 4px 2px;  font-size: 16px; border: none; padding: 10px;">
<a href="/showroom/<%=shop.shopname%>">Visit shop</a></button>
</th>
<%}) %>
</tr>
</table>
</div> <br> <br>



<center id="contact">
  <h1> <b>Contact us</b> </h1>
<div class="box">
<img class="imgf" src="https://st2.depositphotos.com/1915807/11163/v/950/depositphotos_111630038-stock-illustration-doodle-icons-set-business-the.jpg" alt="" width="300" height="300">
<br>

<form action="/" method="post">
  <input type="text" name="name" placeholder="Enter your sweet name..."> <br>
  <input type="text" name="email" placeholder="Enter your email..."> <br>
  <input type="text" name="phone" placeholder="Enter your phone number"> <br>
<textarea name="message" placeholder="Enter your message" ></textarea> <br>
  <input  class="bu" type="submit" name="submit" value="Send your message">
</form>
</div>
</center>

<table>

        <div class="benefit-items">
        <div class="row-3">
          <th>
            <div class="col-sm-4">
                <div class="single-benefit">
                    <div class="fa fa-address-card" style="font-size:50px; color:#0c4d7a;">

                    </div>

                    <div class="sb-text">
                        <h6>Website</h6> <br>
                        <p>Get a web page for your textile</p>
                    </div>
                </div>
            </div>
          </th>
          <th>
            <div class="col-lg-4">
                <div class="single-benefit">
                    <div class="fa fa-bus" style="font-size:50px; color:#0c4d7a;">

                    </div>
                    <div class="sb-text">
                        <h6>Delivery On Time</h6> <br>
                        <p>If good have prolems</p>
                    </div>
                </div>
            </div>
          </th>
          <th>
            <div class="col-lg-4">
                <div class="single-benefit">
                    <div class="fa fa-angellist" style="font-size:50px;color:#0c4d7a;">

                    </div>
                    <div class="sb-text">
                        <h6>Secure Payment</h6> <br>
                        <p>100% secure payment</p>
                    </div>
                </div>
            </div>
          </th>
        </div>
    </div>
  </table> <br>


<footer id="about" class="footer-distributed">

<div class="footer-left">
  <div class="logo">
      <img src="logo.png" alt="">
  </div>
<h3>About
  <span>Udupukada</span></h3>

<p class="footer-links">
  <a href="/">Home</a>
  |
  <a href="/shopnow">Shopnow</a>
  |
  <a href="#">About</a>
  |
  <a href="#">Contact</a>
</p>

<p class="footer-company-name">© 2020 Udupukada</p>
</div>

<div class="footer-center">
<div>
  <i class="fa fa-map-marker"></i>
    <p><span>Jaffna</span>
    Srilanka</p>
</div>

<div>
  <i class="fa fa-phone"></i>
  <p>077 419 2481</p>
</div>
<div>
  <i class="fa fa-envelope"></i>
  <p><a href="udupukadai@gmail.com">udupukadai@gmail.com</a></p>
</div>
</div>
<div class="footer-right">
<p class="footer-company-about">
  <span>About the company</span>
  Show every
  dresses in particular textiles.</p>
<div class="footer-icons">
  <a href="https://www.facebook.com/udupukada.shop"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="https://www.instagram.com/udupukada/"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
</div>
</div>
</footer>


    <script>


    var deadline = new Date("april 9, 2020 15:37:25").getTime();

    var x = setInterval(function() {

    var now = new Date().getTime();
    var t = deadline;
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((t % (1000 * 60)) / 1000);
    document.getElementById("day").innerHTML =days ;
    document.getElementById("hour").innerHTML =hours;
    document.getElementById("minute").innerHTML = minutes;
    document.getElementById("second").innerHTML =seconds;
    if (t < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "TIME UP";
            document.getElementById("day").innerHTML ='0';
            document.getElementById("hour").innerHTML ='0';
            document.getElementById("minute").innerHTML ='0' ;
            document.getElementById("second").innerHTML = '0'; }
    }, 1000);
        </script>

</body>

</html>
